<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>controller.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutController</servlet-name>
        <servlet-class>controller.SignOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationController</servlet-name>
        <servlet-class>controller.ReservationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoController</servlet-name>
        <servlet-class>controller.InfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderController</servlet-name>
        <servlet-class>controller.ViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrderController</servlet-name>
        <servlet-class>controller.CheckOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCouponController</servlet-name>
        <servlet-class>controller.AddCouponController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationController</servlet-name>
        <url-pattern>/reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoController</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderController</servlet-name>
        <url-pattern>/vieworder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOrderController</servlet-name>
        <url-pattern>/checkorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/deleteorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCouponController</servlet-name>
        <url-pattern>/addcoupon</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
